# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled CSS
*.css

# Eclipse
.cproject
.settings
.project

# Sublime
*.sublime*

# macOS
.DS_Store

# Visual Studio Code
*.code-workspace

# Everything that has to do with building
build/*
bin/*

# Linux package directories
bin-deb
bin-rpm

# Node
node_modules

!.gitkeep
