* {
    border: none;
}

window, dialog {
    background-color: $bgcolor;
    color: $fgcolor;
}

menuitem {
    // color: default;
}

button {
    background-color: $button_bgcolor;
    background-image: none;
    box-shadow: none;

    &:hover {
        background-color: $hover_bgcolor;
    }

    &:active {
        background-color: $button_bgcolor_active;
    }

    &:disabled {
        opacity: 0.5;
    }

    label {
        color: $button_fgcolor;
        text-shadow: none;
    }
}

entry {
    background-color: $form_bgcolor;
    color: $form_fgcolor;

    &:hover {
        background-color: $hover_bgcolor;
    }

    &:focus {
        background-color: $form_bgcolor_focus;
    }
}

textview {
    background-color: $form_bgcolor;
    padding: 8px;

    text {
        background-color: $form_bgcolor;
        color: $form_fgcolor;

        &:focus {
            background-color: $form_bgcolor_focus;
        }
    }

    &:focus {
        background-color: $form_bgcolor_focus;
    }
}

treeview {
    background-color: $tertiary_bgcolor;
    color: $fgcolor;
    padding: 2px;

    &:hover {
        background-color: $hover_bgcolor;
    }

    &:selected {
        background-color: $highlight_bgcolor;
        color: $selected_fgcolor;
    }

    header {
        button {
            background-color: $secondary_bgcolor;
            border-color: $border_color;
            box-shadow: 0 1px 2px $box_shadow_color;
            color: $secondary_fgcolor;
        }
    }
}
