#main-sidebar {
    viewport {
        background-color: $secondary_bgcolor;
    }

    separator {
        opacity: 0;
    }

    row {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 35px;
        color: $fgcolor;
        margin: 10px 0;
        opacity: 0.5;
        outline: none;

        label {
            margin-top: 35px;
        }

        &:hover {
            color: $hover_fgcolor;
            opacity: 1;
        }

        &:selected {
            background-color: transparent;
            color: $selected_fgcolor;
            opacity: 1;
        }

        &.needs-attention {
            color: $needs_attention_fgcolor;
        }

        // Dashboard
        &:first-child {
            background-image: url('../images/dashboard-icon.png');
        }

        // Projects
        &:nth-child(2) {
            background-image: url('../images/projects-icon.png');
        }
    }
}
