#main-sidebar {
    viewport {
        background-color: $secondary_bgcolor;
    }

    separator {
        opacity: 0;
    }

    row {
        color: $fgcolor;
        outline: none;

        &:hover {
            color: $hover_fgcolor;
        }

        &:selected {
            background-color: transparent;
            color: $selected_fgcolor;
        }

        &.needs-attention {
            color: $needs_attention_fgcolor;
        }
    }
}
