#main-sidebar {
    viewport {
        background-color: $secondary_bgcolor;
    }

    separator {
        opacity: 0;
    }

    row {
        background-image: url('../images/dashboard-icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        color: $fgcolor;
        margin: 10px 0;
        opacity: 0.5;
        outline: none;

        label {
            opacity: 0;
        }

        &:hover {
            color: $hover_fgcolor;
            opacity: 1;
        }

        &:selected {
            background-color: transparent;
            color: $selected_fgcolor;
            opacity: 1;
        }

        &.needs-attention {
            color: $needs_attention_fgcolor;
        }
    }
}
