$bgcolor:           #222222;
$secondary_bgcolor: #444444;
$tertiary_bgcolor:  #333333;

$fgcolor:           #cccccc;
$secondary_fgcolor: #dddddd;

$highlight_bgcolor: #666666;
$selected_fgcolor:  #ffffff;
$hover_bgcolor:     #363636;
$hover_fgcolor:     #ffffff;

$needs_attention_fgcolor: #e21038;

$button_bgcolor:        #555555;
$button_bgcolor_active: #000000;
$button_fgcolor:          $fgcolor;
$form_bgcolor:          #111111;
$form_bgcolor_focus:    #000000;
$form_fgcolor:            $fgcolor;

$box_shadow_color: rgba(0, 0, 0, 0.3);

$border_color: darken($secondary_bgcolor, 10%);


@import "elements";
@import "mainWindow";
@import "dashboardView";
@import "projectsView";
